<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/candidate/candidateBase :: article(~{::article})}">
<article>
    <p th:if="${#lists.size(candidateslist)} == 0">No candidate registered yet.</p>
    <table class="table table-striped" th:if="${#lists.size(candidateslist)} > 0">
        <caption>List of candidates (<span th:text="${candidateslist.size}"></span>)</caption>
        <thead>
        <tr>
            <th scope="col">Lastname</th>
            <th scope="col">Firstname</th>
            <th scope="col">City</th>
            <th scope="col">Nb. of applications</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cand : ${candidateslist}">
            <td th:text="${cand.lastname}"/>
            <td th:text="${cand.firstname}"/>
            <td th:text="${cand.userapp.city}"/>
            <td th:text="${cand.applications.size()}"/>
            <td>
                <a th:href="@{|candidates/${cand.mail}|}" alt="Candidate details" title="view details"
                   class="btn btn-large btn-secondary">
                    <i class="bi bi-eye"></i>
                </a>
                <th:block th:if="${#ctx.session.mail} == ${cand.mail}">
                    <a th:href="@{|candidates/edit/${cand.mail}|}" class="btn btn-large btn-success" alt="Edit"
                       title="Edit candidate">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a th:href="@{|candidates/delete/${cand.mail}|}" class="btn btn-large btn-danger" alt="Delete"
                       title="Delete candidate">
                        <i class="bi bi-trash"></i>
                    </a>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <footer>
        <a th:href="@{candidates/add}" class="btn btn-large btn-primary" title="Add new candidate">
            <i class="bi bi-plus"></i>
        </a>

    </footer>
</article>

</html>