<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/candidate/candidateBase :: article(~{::article})}">
<article>
    <header>
        <h2>Candidate details</h2>
    </header>
    <form>
        <fieldset class="mb-3">
            <label for="nameid" class="form-label">Lastname</label>:
            <input type="text" id="nameid" class="form-control" name="denomination" autofocus="autofocus"
                   th:value="${candidate.lastname}" readonly/>
        </fieldset>
        <fieldset class="mb-3">
            <label for="descid" class="form-label">Firstname</label>:
            <input type="text" id="descid" class="form-control" name="description" th:value="${candidate.firstname}"
                   readonly/>
        </fieldset>
        <fieldset class="mb-3">
            <label for="cityid" class="form-label">City</label>:
            <input type="text" id="cityid" class="form-control" name="city" th:value="${candidate.userapp.city}"
                   readonly/>
        </fieldset>
    </form>

    <aside th:if="${#lists.size(candidate.applications)} > 0">
        <h2>List of associated applications</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CV</th>
                <th scope="col">Application date</th>
                <th scope="col">Qualification level</th>
                <th scope="col">Fields</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app : ${candidate.applications}">
                <th scope="row" th:text="${app.id}"/>
                <td th:text="${app.cv}"/>
                <td th:text="${app.appdate}"/>
                <td th:text="${app.qualificationlevel.label}"/>
                <td>
                    <ul th:each="field : ${app.fields}">
                        <li th:text="${field.label}"></li>
                    </ul>
                </td>
                <td>
                    <a th:if="${#ctx.session.mail} == ${candidate.mail}"
                       th:href="@{|/applications/edit/${app.id}|}"><img th:src="@{/img/modify.png}"
                                                                        alt="Applications modification"/>
                    </a>
                    <a th:if="${#ctx.session.mail == null} or ${#ctx.session.mail} != ${candidate.mail}"
                       th:href="@{|/applications/${app.id}|}"><img th:src="@{/img/zoom.png}"
                                                                        alt="Applications Details"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </aside>


    <footer>
        <th:block th:if="${#ctx.session.mail} == ${candidate.mail}">
            <a th:href="@{|/candidates/edit/${candidate.mail}|}" class="btn btn-large btn-primary"
               title="Unlock to update"><i class="bi bi-pencil"></i></a>
        </th:block>
        <a th:href="@{/candidates}" class="btn btn-secondary" title="go back"><i class="bi bi-list-columns"></i></a>
    </footer>
</article>

</html>