<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/candidate/candidateBase :: article(~{::article})}">
<article>
    <header>
        <h2>Add a candidate</h2>
    </header>
    <!-- (${action}=='create')@{/companies/create}: @{/companies/${company.id}/edit}
     "@{{action}==create? /companies/create : /companies/{id}/edit(id=${company.id},action=${action})}"
     @{${action}=='create1'? /companies/create : /companies/{id}/edit(id=${company.id})}
     -->
    <form th:action="@{/candidates/add}" method="post">
        <fieldset class="mb-3">
            <label for="mailid" class="form-label">Mail</label>:
            <input type="text" id="mailid" class="form-control" name="mail" autofocus="autofocus" required/>
            <p th:if="${mailError}" th:text="${mailError}" class="text-danger"></p>
        </fieldset>
        <fieldset class="mb-3">
            <label for="passwordid" class="form-label">Password</label>:
            <input type="password" id="passwordid" class="form-control" name="password" required/>
            <p th:if="${passwordError}" th:text="${passwordError}" class="text-danger"></p>

        </fieldset>
        <fieldset class="mb-3">
            <label for="nameid" class="form-label">Lastname</label>:
            <input type="text" id="nameid" class="form-control" name="lastname" required/>
        </fieldset>
        <fieldset class="mb-3">
            <label for="fnameid" class="form-label">Firstname</label>:
            <input type="text" id="fnameid" class="form-control" name="firstname" required/>
        </fieldset>
        <fieldset class="mb-3">
            <label for="cityid" class="form-label">City</label>:
            <input type="text" id="cityid" class="form-control" name="city" required/>
        </fieldset>
        <button type="submit" class="btn btn-primary" th:title="${action}"><i class="bi bi-floppy"></i></button>
        <button type="reset" class="btn btn-secondary" value="Reset" title="reset"><i class="bi bi-eraser-fill"></i>
        </button>
        <a th:href="@{/candidates/panel}" class="btn btn-danger" title="go back"><i class="bi bi-x-square"></i></a>
    </form>

</article>

</html>