<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/company/companyBase :: article(~{::article})}">
<article>
    <header>
        <h2>Company Details</h2>
    </header>
    <form>
        <fieldset class="mb-3">
            <label for="mail" class="form-label">Email</label>:
            <input type="text" id="mail" class="form-control" name="mail"
                   th:value="${company.mail}" readonly />
        </fieldset>
        <fieldset class="mb-3">
            <label for="denomination" class="form-label">Name</label>:
            <input type="text" id="denomination" class="form-control" name="denomination"
                   th:value="${company.denomination}" readonly />
        </fieldset>
        <fieldset class="mb-3">
            <label for="description" class="form-label">Description</label>:
            <input type="text" id="description" class="form-control" name="description"
                   th:value="${company.description}" readonly />
        </fieldset>
    </form>
    <aside th:if="${#lists.size(company.joboffers) > 0}">        <h2>List of Associated Job Offers</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Task Description</th>
                <th scope="col">Publication Date</th>
                <th scope="col">Qualification Level</th>
                <th scope="col">Sectors</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${company.joboffers}">
                <th scope="row" th:text="${job.id}"></th>
                <td th:text="${job.title}"></td>
                <td th:text="${job.taskdescription}"></td>
                <td th:text="${job.publicationdate}"></td>
                <td th:text="${job.qualificationlevel.label}"></td>
                <td>
                    <ul th:each="field : ${job.fields}">
                        <li th:text="${field.label}"></li>
                    </ul>
                </td>
                <td>
                    <a th:if="${#ctx.session.mail} == ${company.mail}"
                       th:href="@{|/joboffers/edit/${job.id}|}"><img th:src="@{/img/modify.png}"
                                                                        alt="Applications modification"/>
                    </a>
                    <a th:href="@{|/joboffers/${job.id}|}"><img th:src="@{/img/zoom.png}"
                                                                   alt="Applications Details"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </aside>
    <footer>
        <a th:href="@{|/companies/edit/${company.mail}|}" class="btn btn-large btn-primary"
           title="Unlock to update"><i class="bi bi-pencil"></i></a>
        <a th:href="@{/companies}" class="btn btn-secondary" title="Go back"><i class="bi bi-list-columns"></i></a>
    </footer>
</article>
</html>
