<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/company/companyBase :: article(~{::article})}">
<article>
    <p th:if="${#lists.size(companieslist)} == 0">No company registered yet.</p>
    <table class="table table-striped" th:if="${#lists.size(companieslist)} > 0">
        <caption>List of companies (<span th:text="${companieslist.size}"></span>)</caption>
        <thead>
        <tr>
            <th scope="col">Denomination</th>
            <th scope="col">Description</th>
            <th scope="col">City</th>
            <th scope="col">Nb. of offers</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comp : ${companieslist}">
            <td th:text="${comp.denomination}"/>
            <td th:text="${comp.description}"/>
            <td th:text="${comp.userapp.city}"/>
            <td th:text="${comp.joboffers.size}"/>
            <td>
                <a th:href="@{companies/{companyMail}(companyMail=${comp.mail})}" alt="Company details"
                   title="view details" class="btn btn-large btn-secondary">
                    <i class="bi bi-eye"></i>
                </a>
                <th:block th:if="${#ctx.session.mail} == ${comp.mail}">
                    <a th:href="@{|companies/edit/${comp.mail}|}"
                       class="btn btn-large btn-success" alt="Edit" title="edit company">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <div class="modal fade" th:id="${'deleteCompanyModal' + comp.mail}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation of deletion</h5>
                                    <button type="button" class="close btn btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="alert alert-danger">
                                        Are you sure you want to delete company <span th:text="${comp.denomination}"></span> ?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <form th:action="@{|companies/delete/${comp.mail}|}" method="get">
                                        <button type="submit" class="btn btn-danger" id="delRef">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button th:if="${comp.mail == #ctx.session.mail}" class="btn btn-large btn-danger delBtn"
                            data-bs-toggle="modal" th:data-bs-target="${'#deleteCompanyModal' + comp.mail}">
                        <i class="bi bi-trash"></i>
                    </button>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <footer>
        <a th:href="@{companies/add}" class="btn btn-large btn-primary" title="add new company">
            <i class="bi bi-plus"></i>
        </a>

    </footer>
</article>

</html>