<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/baseTemplate/base :: layout(~{::title},~{::section})}">
<title>Companies</title>
<section>
  <header>
    <h1>List of Companies</h1>
  </header>
  <article>
    <p th:if="${#lists.isEmpty(companieslist)}">No company registered yet.</p>
    <th:block th:if="${not #lists.isEmpty(companieslist)}">
      <table class="table table-striped">
        <caption>List of Companies</caption>
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Denomination</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company, iterStat : ${companieslist}">
          <th scope="row" th:text="${iterStat.index + 1}" />
          <td th:text="${company.mail}" />
          <td th:text="${company.denomination}" />
          <td th:text="${company.description}" />
        </tr>
        </tbody>
      </table>
    </th:block>
  </article>
</section>
</html>