
<div th:replace="~{/includes/head :: fhead}"> </div>
<div th:replace="~{/includes/header :: fheader}"> </div>


	<div class="row justify-content-center">
		<div id="central_div">
			<h1>List of sectors</h1>
            <!-- <a href="javascript:history.back()"><img th:src="@{/img/back.png}" alt="Back"/></a> -->

            <span th:if="${#lists.size(sectorlist)} == 0">No sector defined yet</span>

            <span th:if="${#lists.size(sectorlist)} > 0">
                    
                    <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="sec : ${sectorlist}" >
                        <th scope="row" th:text="${sec.id}"/>
                        <td th:text="${sec.label}" />
                        <td th:if="${#ctx.session.uid} != null AND ${#ctx.session.logintype} == 'adm'" class="nav-item active">
                            <a th:href="@{/deletesector/{id}(id=${sec.id})}">
                                <img th:src="@{img/minus.png}" alt="Delete this sector" class="minilogo"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${#ctx.session.uid} != null AND ${#ctx.session.logintype} == 'adm'" class="row h-10">
                <form action="/addsector" method="get" class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                        <label for="labelsector">Label</label>
                        <input type="text" id="labelsector" name="labelsector" autofocus="autofocus" minlength="3" required/> <br />
                    
                        <input type="submit" value="Add" />
                    </form>
                </form>
            </div>
        </div>
    </div>
<div th:replace="~{/includes/footer :: ffooter}"> </div>
